container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python codeMaze/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "codeMaze.settings"
    PYTHONPATH: "/opt/python/current/app/codeMaze:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "codeMaze/codeMaze/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"