body{
    background-color: #fafafa;
    .ribbon{
        width: 100vw;
        height: 3px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #F44336;
    }
    header{
        background-image: url("../../../images/bg2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 65vh;
        padding: 5px;
        border-bottom: 3px solid grey;
        h2{ 
            margin-top: 80px;
            color: black;
            font-weight: 300;
            text-align: center; 
        }
        h5{
            color: black;
            font-weight: 300;
            text-align: center;
        }
    }
    h4{
        margin-top: 80px;
        font-size: 2em;
        font-weight: 300;
        text-align: center;
        span{
            
        } 
    }
}